<!DOCTYPE html>
<html>

<head>
	<title>
		Dashboard
	</title>
	<meta charset='utf-8' />

	<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
	<link rel="manifest" href="/fav/site.webmanifest">
	<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link href='css/normalize.css' rel='stylesheet' />
	<link href='css/dashboard.css' rel='stylesheet' />


	<meta name="viewport"
		content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
	<div class="page page--dashboard">
		<aside class="aside page__aside vertical">
			<div class="aside__logo text">Sidebar</div>
			<nav class=" vertical vertical--small">
				<a href="#" class="nav_button nav_button--active click">
					<span class="icon nav_button__icon"
						style="background-image: url('/svg/feature/nav/home.svg')"></span>
					<span class="text text--light">Home</span>
				</a>
				<a href="#" class="nav_button click">
					<span class="icon nav_button__icon"
						style="background-image: url('/svg/feature/nav/orders.svg')"></span>
					<span class="text text--light">Orders</span>
				</a>
				<a href="#" class="nav_button click">
					<span class="icon nav_button__icon"
						style="background-image: url('/svg/feature/nav/products.svg')"></span>
					<span class="text text--light">Products</span>
				</a>

			</nav>
		</aside>
		<header class="header">
			<div class="layout header_content text--small">
				<div class="header__search relative">
					<input type="text" placeholder="Search" class="text field field--header"></span>
					<span class="icon header__icon-search"
						style="background-image: url('/svg/feature/header/search.svg')"></span>
					<span class="icon icon--header-settings icon--button icon--color-blue click"
						style="background-image: url('/svg/feature/header/settings.svg')"></span>

				</div>

				<div class="header_icon_list relative">
					<span class="icon header__icon-share icon--button  icon--color-yellow click"
						style="background-image: url('/svg/feature/header/share.svg')"></span>
					<span class="icon header__icon-translate icon--button  icon--color-blue-light click"
						style="background-image: url('/svg/feature/header/translate.svg')"></span>
					<span class="icon header__icon-bell icon--button icon--color-yellow click"
						style="background-image: url('/svg/feature/header/bell.svg')"></span>
				</div>
			</div>
		</header>
		<main class="main">
			<div class="layout">
				<section class="box analytic__block">
					<div class="analytic analytic--double analytic--purple">
						<span class="icon analityc__button icon--button icon--color-purple click"
							style="background-image: url('/svg/feature/analytic/dollar.svg')"></span>
						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--light text--bold">$500.00</div>
							<div class="text--small text text--light text--lighter">Total earning</div>
							<span class="icon analityc__arrow"
								style="background-image: url('/svg/feature/analytic/blue-arrow.svg')"></span>
						</div>
					</div>
					<div class="analytic analytic--double analytic--blue">
						<span class="icon analityc__button icon--button icon--color-blue click"
							style="background-image: url('/svg/feature/analytic/order.svg')"></span>
						<div class="relative vertical vertical--small">
							<div class="analytic__title text text--light text--bold">$961</div>
							<div class="text--small text text--light text--lighter ">Total Order</div>
							<span class="icon analityc__arrow"
								style="background-image: url('/svg/feature/analytic/blue-arrow.svg')"></span>
						</div>
					</div>
					<div class="analytic analytic--blue analytic--horizontal">
						<span class="icon analityc__button icon--button icon--color-blue click"
							style="background-image: url('/svg/feature/analytic/dollar.svg')"></span>
						<div class="relative vertical vertical--extra-small">
							<div class="analytic__title--small text text--light text--bold">$203k</div>
							<div class="text--small text text--light text--lighter">Total Income</div>

						</div>
					</div>
					<div class="analytic analytic--horizontal circle">
						<span class="icon analityc__button  icon--button icon--color-yellow click"
							style="background-image: url('/svg/feature/analytic/shop.svg')"></span>
						<div class="relative vertical vertical--extra-small">
							<div class="analytic__title--small text text--dark text--bold">$203k</div>
							<div class="text--small text  text--gray">Total Income</div>

						</div>
					</div>

				</section>
				<section class="main__double">

					<section class="main_purchase box">
						<div class="purchese__title text--title-medium text--bold text">Purchase list</div>
						<hr class="devider">
						<div class="purchese__content">
							<div class="purchese__list">
								<div class="text">ID437661</div>
								<div class="text">May 11, 2023, 14:21</div>
							</div>
							<div class="purchese__list">
								<div class="text">AirOn ProCam</div>
								<div class="text">7/8 USB Type-C</div>
							</div>
							<div class="purchese__list">
								<div class="text">132.32 EUR</div>
								<div class="text text--red">Not paid</div>
							</div>
							<div class="purchese__list">
								<div class="text">Customer</div>
								<div class="text">robin@com.de</div>
							</div>
						</div>
						<hr class="devider">
						<div class="purchese__content">
							<div class="purchese__list">
								<div class="text">ID437661</div>
								<div class="text">May 11, 2023, 14:21</div>
							</div>
							<div class="purchese__list">
								<div class="text">PHILIPS Essential</div>
								<div class="text">HD9200/90</div>
							</div>
							<div class="purchese__list">
								<div class="text">543 USD</div>
								<div class="text text--green">Pay by Stripe</div>
							</div>
							<div class="purchese__list">
								<div class="text">Customer</div>
								<div class="text">dima@com.ua</div>
							</div>
						</div>
					</section>
					<section class="main_payment box">
						<div class="text--title-medium text--bold text">Payment</div>
						<hr class="devider">
						<div class="radio__box vertical vertical--small">
							<label class="radio">
								<input type="radio" name="order" class="custom__radio radio--clear" checked />
								<span class="text radio__title icon__radio">Credit card</span>
							</label>
							<label class="radio">
								<input type="radio" name="order" class="custom__radio radio--clear">
								<span class="text radio__title icon__radio">Debit card</span>
							</label>
							<label class="radio">
								<input type="radio" name="order" class="custom__radio radio--clear">
								<span class="text radio__title icon__radio">PayPal</span>
							</label>
						</div>
						<div class="payment__info vertical">
							<div class="vertical vertical--extra-small">
								<span class="input__title text">Name on card</span>
								<input type="text" class="text field field--payment ">
							</div>
							<div class="vertical vertical--extra-small">
								<span class="input__title text">Credit card number</span>
								<input type="text" class="text field field--payment ">
							</div>
							<div class="vertical vertical--extra-small">
								<span class="input__title text">Expiration</span>
								<input type="text" class="text field field--payment">
							</div>
							<div class="vertical vertical--extra-small">
								<span class="input__title text">CVV</span>
								<input type="text" class="text field  field--payment">
							</div>
						</div>
						<hr class="devider">
						<div class="payment__country vertical ">
							<div class="vertical vertical--extra-small">
								<span class="input__title text">Country</span>
								<div class="relative click">
									<div class="field field--select field--payment">
										<span class="text ">Choose..
										</span>
										<select class="field__select relative">
											<option value="cat">cat</option>
											<option value="dog">dog</option>
											<option value="one">one</option>
											<option value="two">two</option>
											<option value="three">three</option>

										</select>
									</div>
								</div>
							</div>
							<div class="vertical vertical--extra-small">
								<span class="input__title text">State</span>
								<div class="relative click">
									<div class="field field--select field--payment">
										<span class="text ">Choose..
										</span>
										<select class="field__select relative">
											<option value="cat">cat</option>
											<option value="dog">dog</option>
											<option value="one">one</option>
											<option value="two">two</option>
											<option value="three">three</option>

										</select>
									</div>
								</div>
							</div>


						</div>
						<hr class="devider">

						<a href="#" class="button button--primary click">Continue to checkout</a>

					</section>

				</section>
			</div>

		</main>
	</div>
</body>

</html>