<main class="p-5">

	<div class="card p-5">
		<p id="test">
			Hello world! Hello world!
		</p>

		<span class="test"> Testtt tt ste</span>
	</div>

	<pre>
				asdasd
</pre>
	<div>block</div>
	<div>block</div>
	<div>block</div>
	<div>block</div>
	<div>block</div>

	<div style="padding: 50px 0 100px 150px; background:gray;">
		<span>inline </span>
		<span>inline </span><span>inline </span><span>inline </span><span class="block">inline-block </span>
	</div>

</main>