<div class="card_articles">
	<img src="{{photo}}" alt="Photo" class="card_art_image"></img>
	{{#if isNew}} <div class="card_art_badge">NEW</div>{{/if}}
	<div class="card_art_title">{{name}}</div>
	<p class="card_art_text">{{description}}</p>
	<a href="#" class="card_art_button">Read all</a>
</div>